@mixin card {
  border: 2px solid white;
  border-radius: 12px;

  backdrop-filter: blur(24px);
  @supports not (backdrop-filter: blur(24px)) {
    background-color: rgba(0, 0, 0, 0.15);
  }

  &:focus {
    outline: none;
    border: 4px solid white;
  }
}

@mixin center-children {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin square($size) {
  width: $size;
  height: $size;
}
