$bg: linear-gradient(90deg, #103783, #9bafd9);

html,
body,
canvas#main {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

html {
  @media (max-width: 800px) {
    font-size: 0.7rem;
  }
  background: $bg;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, Tahoma, sans-serif;
  color: white;
}

body {
  position: relative;

  a {
    text-decoration: none;
  }

  button {
    cursor: pointer;
    border: 2px solid white;
    border-radius: 6px;
    padding: 0.2em 0.5rem;
    background: none;
  }

  #info,
  #overlay,
  #remove-clutter {
    margin: 1rem 1.25rem;
    position: absolute;
  }

  #info {
    left: 0;
    font-size: 2.5rem;

    a {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        $size: 80px;
        width: $size;
        height: $size;
        padding-left: 16px;
      }
    }
  }

  #overlay {
    font-size: 0.75rem;
    right: 0;
    white-space: pre;
    font-family: 'Lucida Console', Monaco, monospace;
  }

  #remove-clutter {
    bottom: 0;
    font-size: 1.25rem;
  }

  #errors-container {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    text-align: center;
    justify-content: center;
    align-items: center;

    #errors {
      width: min(500px, 90vw);
      height: min(500px, 90vw);
      h1 {
        font-size: 3rem;
        padding: 2rem;
      }

      p {
        text-align: left;
        font-size: 1.25rem;
      }
    }
  }
}
